name: 'Sync Upstream'

on:
  schedule:
    - cron:  '0 20 * * *'
    # scheduled at 07:00 every Monday and Thursday

  workflow_dispatch:  # click the button on Github repo!

jobs:
  sync_upstream:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Sync upstream changes
      uses: aormsby/Fork-Sync-With-Upstream-action@v3.2
      with:
        upstream_sync_branch: master
        upstream_sync_repo: yIwIoTT9A21nupT/2aXGmlWs
        target_sync_branch: master
        target_repo_token: ${{ secrets.GITHUB_TOKEN }}

        # `schedule:` only runs if this workflow is part of 'main'
        # but ideally 'main' is an exact mirror of upstream's 'main'
        # so that https://github.com/kousu/gitea/pull/1 is tidy.
        # To split the difference:
        #   keep our this workflow and any other tweaks we make on
        #   top, by rebasing.
        upstream_pull_args: '--rebase --tags'
        target_push_args: '--force'

        # DEBUG
        #test_mode: true
