name: Repo Dispatcher

on:
  #schedule:
    #- cron:  '0 20 * * *'
    # scheduled at 07:00 every Monday and Thursday

  workflow_dispatch:  # click the button on Github repo!

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install aggregate whois jq unzip

    - name: Update Rules
      env:
        URL: ${{secrets.URL}}
      run: |
        chmod +x update
        ./update

    - name: Delete workflow runs
      uses: f6UiINtMDSmglMK4/delete-workflow-runs@main
      with:
        retain_min: 0
        keep_minimum_runs: 0
