
name: 'Sync Upstream'

on:
  schedule:
    - cron:  '0 20 * * *'
    # scheduled at 07:00 every Monday and Thursday

  workflow_dispatch:  # click the button on Github repo!
# starte Jobs
jobs:
  merge-from-upstream-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout aus
        uses: actions/checkout@v3
        with:
          ref: release
          fetch-depth: 0
        
      - name: Aktualisiere Upstream vom Github Repo
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.2
        with:
          # Ziel Branch
          target_sync_branch: master
          # Upstream Branch
          upstream_sync_branch: master
          # Upstream Repo
          upstream_sync_repo: yIwIoTT9A21nupT/2aXGmlWs

      - name: Neue Commits gefunden
        if: steps.sync.outputs.has_new_commits == 'true'
        run: echo "Repository Update vorhanden. Neue Commits zum syncronisieren gefunden."
      
      - name: Keine neuen Commits gefunden
        if: steps.sync.outputs.has_new_commits == 'false'
        run: echo "Keine neuen Commits zum synchronisieren gefunden. Die Repository ist aktuell."
        
      - name: Show value of 'has_new_commits'
        run: echo ${{ steps.sync.outputs.has_new_commits }}
